CONFIG_PERF_CRITICAL_RT_TASK=y
CONFIG_SF_BINDER=y
CONFIG_OVERLAY_FS=y
CONFIG_MIGT=y
CONFIG_MIGT_ENERGY_MODEL=y
CONFIG_PACKAGE_RUNTIME_INFO=y
CONFIG_MILLET=y
CONFIG_PERF_HUMANTASK=y
CONFIG_XIAOMI_MIUI=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
CONFIG_MI_FRAGMENTION=y
CONFIG_PERF_HELPER=y
CONFIG_BOOTUP_RECLAIM=y
CONFIG_MI_RECLAIM=y
CONFIG_RTMM=y
